
html {
    height: 100%;
}

body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    font-weight: lighter;
    color: #d4d4d4;
    /*background-color: #1d1d1d; */
}

object {
    position: absolute;
}

/* List widgets */
.horizontallist, .verticallist {
    position: relative;
}

.horizontallist .listitem {
    display: inline-block;
}

/* nested lists - use #IDs instead for more complex layouts */
.verticallist .horizontallist .listitem {
    display: inline-block;
}

.verticallist .listitem {
    display: block;
    position: relative;
}

/* nested lists - use #IDs instead for more complex layouts */
.horizontallist .verticallist .listitem {
    display: block;
}

/* Horizontal carousel widgets */
/* the mask is the top level of the carousel and defines where it is displayed and how much is visible */
.horizontallistmask {
    overflow: hidden;
    width: 100%;
}

/* ensure nested carousels have correct formatting, you may need to target IDs in complex layouts */
.horizontallistmask .horizontallist .listitem {
    display: inline-block;
}

.horizontalcarousel {
    width: 99999px; /* needs to be big enough so carousel plus clones do not flow onto more then one line */
}


/*
 * chargement de la page
*/
#static-loading-screen{height:100px;}
#static-loading-screen .charg{margin-left:50%;margin-top:25%;}
#static-loading-screen .charg div{width:6px;height:20px;background:white;border:1px solid black;float:left;margin-left:4px;
-webkit-animation: article20 0.7s infinite linear;
-moz-animation: article20 0.7s infinite linear;
-o-animation: article20 0.7s infinite linear;
animation: article20 0.7s infinite linear;
}
#static-loading-screen .charg div:first-child{
-webkit-animation-delay:0s;
-moz-animation-delay:0s;
-o-animation-delay:0s;
animation-delay:0s;
}
#static-loading-screen .charg div:nth-child(2){
-webkit-animation-delay:0.1s;
-moz-animation-delay:0.1s;
-o-animation-delay:0.1s;
animation-delay:0.1s;
}
#static-loading-screen .charg div:last-child{
-webkit-animation-delay:0.2s;
-moz-animation-delay:0.2s;
-o-animation-delay:0.2s;
animation-delay:0.2s;
}
@-webkit-keyframes article20{
from{background:#09C;border:1px solid #006080;height:36px;margin-top:-8px;}
70%{background:white;border:1px solid white;height:20px;margin-top:0px;}
to{background:white;border:1px solid white;height:20px;margin-top:0px;}
}
@-moz-keyframes article20{
from{background:#09C;border:1px solid #006080;height:36px;margin-top:-8px;}
70%{background:white;border:1px solid white;height:20px;margin-top:0px;}
to{background:white;border:1px solid white;height:20px;margin-top:0px;}
}
@-o-keyframes article20{
from{background:#09C;border:1px solid #006080;height:36px;margin-top:-8px;}
70%{background:white;border:1px solid white;height:20px;margin-top:0px;}
to{background:white;border:1px solid white;height:20px;margin-top:0px;}
}
@keyframes article20{
from{background:#09C;border:1px solid #006080;height:36px;margin-top:-8px;}
70%{background:white;border:1px solid white;height:20px;margin-top:0px;}
to{background:white;border:1px solid white;height:20px;margin-top:0px;}
}
/*
 * fin de chargement de la page
*/


/* Display & Visibility Helpers */
.display-none {
    display: none !important;
}


/* 
 * Les bouttons
*/
#menu{
	width:100%;
}
#menuPrincipal{
	margin-top:5%;
}


.button{
/*
	float: left;
*/
	border-radius: 3.5px;
	font-family: "ComfortaaBold";
	display: table-cell;
	height: 30px;
	padding: 15px 65px;
	vertical-align: middle;
	color: #5DF600;
	text-decoration: none;
	font-size: 1.7em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background:transparent linear-gradient(#003D7A, #0D1121) repeat scroll 0% 0%;
}
#menuDonnees .button{
/*
	float: left;
*/
	border-radius: 3.5px;
	font-family: "ComfortaaBold";
	display: table-cell;
	height: 340px;
	padding: 15px 65px;
	vertical-align: middle;
	color: #5DF600;
	text-decoration: none;
	font-size: 1.7em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background:transparent linear-gradient(#003D7A, #0D1121) repeat scroll 0% 0%;
}

#menuPrincipal .buttonFocussed,
#menuDonnees .buttonFocussed,
#menuSecondaire .buttonFocussed, .buttonFocussed {
    background: #444444;
     background: -webkit-linear-gradient(left,#222,#555 5%,#555 95%,#222 100%);
     background: -moz-linear-gradient(left,#222,#555 5%,#555 95%,#222 100%);
     background: -o-linear-gradient(left,#222,#555 5%,#555 95%,#222 100%);
     background: linear-gradient(to right,#222,#555 5%,#555 95%,#222 100%);
     color: #fff;
}


.background-none {
    background-image: none !important;
    background-color: transparent !important;
}

#menuDonnees .image {
    left: 41px;
    top: 0px;
    background-position: 0px -20px;
    background-image: url("../media/img/icons.png");
    height: 143px;
    width: 158px;
}

