html {
    height: 100%;
}
/*
 * chargement de la page
*/
#static-loading-screen{height:100px;}
#static-loading-screen .charg{margin-left:50%;margin-top:25%;}
#static-loading-screen .charg div{width:6px;height:20px;background:white;border:1px solid black;float:left;margin-left:4px;
-webkit-animation: article20 0.7s infinite linear;
-moz-animation: article20 0.7s infinite linear;
-o-animation: article20 0.7s infinite linear;
animation: article20 0.7s infinite linear;
}
#static-loading-screen .charg div:first-child{
-webkit-animation-delay:0s;
-moz-animation-delay:0s;
-o-animation-delay:0s;
animation-delay:0s;
}
#static-loading-screen .charg div:nth-child(2){
-webkit-animation-delay:0.1s;
-moz-animation-delay:0.1s;
-o-animation-delay:0.1s;
animation-delay:0.1s;
}
#static-loading-screen .charg div:last-child{
-webkit-animation-delay:0.2s;
-moz-animation-delay:0.2s;
-o-animation-delay:0.2s;
animation-delay:0.2s;
}
@-webkit-keyframes article20{
from{background:#09C;border:1px solid #006080;height:36px;margin-top:-8px;}
70%{background:white;border:1px solid white;height:20px;margin-top:0px;}
to{background:white;border:1px solid white;height:20px;margin-top:0px;}
}
@-moz-keyframes article20{
from{background:#09C;border:1px solid #006080;height:36px;margin-top:-8px;}
70%{background:white;border:1px solid white;height:20px;margin-top:0px;}
to{background:white;border:1px solid white;height:20px;margin-top:0px;}
}
@-o-keyframes article20{
from{background:#09C;border:1px solid #006080;height:36px;margin-top:-8px;}
70%{background:white;border:1px solid white;height:20px;margin-top:0px;}
to{background:white;border:1px solid white;height:20px;margin-top:0px;}
}
@keyframes article20{
from{background:#09C;border:1px solid #006080;height:36px;margin-top:-8px;}
70%{background:white;border:1px solid white;height:20px;margin-top:0px;}
to{background:white;border:1px solid white;height:20px;margin-top:0px;}
}
/*
 * fin de chargement de la page
*/


/* Display & Visibility Helpers */
.display-none {
    display: none !important;
}


/* 
 * Les bouttons
*/
#menu{
	width:100%;
}
#menuPrincipal{
	width:100%;
	margin-top:13%;
	height:40%;
}
#menuPrincipal .button{
	float: left;
	border-radius: 3px;
	font-family: "ComfortaaBold";
	display: table-cell;
	height: 30px;
	padding: 20px 55px;
	vertical-align: middle;
	color: #5DF600;
	text-decoration: none;
	font-size: 1.7em;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    background:transparent linear-gradient(#003D7A, #0D1121) repeat scroll 0% 0%;
}

#menuPrincipal .buttonFocussed {
    background: #444444;
     background: -webkit-linear-gradient(left,#222,#555 5%,#555 95%,#222 100%);
     background: -moz-linear-gradient(left,#222,#555 5%,#555 95%,#222 100%);
     background: -o-linear-gradient(left,#222,#555 5%,#555 95%,#222 100%);
     background: linear-gradient(to right,#222,#555 5%,#555 95%,#222 100%);
     color: #fff;
}


.background-none {
    background-image: none !important;
    background-color: transparent !important;
}
